.banner{
    background-color: #003366;
}
.header-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-bottom: .5rem;


}
.title {
    color: white;
    margin-left: .75rem;
}